<table role=grid >
  <thead>
    <tr>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Geburtsdatum</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <tr>
        <th scope="row"><%= person.name %></th>
        <td><%= person.first_name %></td>
        <td><%= person.dob.strftime("%d.%m.%Y") %> link_to edit_person_path(person)</td>
      </tr>
    <% end %>
  </tbody>
</table>