<%= render 'shared/components/table', headers: [t('activerecord.attributes.person.name'), t('activerecord.attributes.person.first_name'), t('activerecord.attributes.person.dob')], zebra: true do %>
  <% people.each do |person| %>
    <tr>
      <td class="font-medium">
        <%= link_to person.name, edit_household_path(person.household), class: "link link-primary" %>
      </td>
      <td>
        <%= link_to person.first_name, edit_person_path(person), class: "link link-primary" %>
      </td>
      <td><%= person.dob.strftime("%d.%m.%Y") %></td>
    </tr>
  <% end %>
<% end %>
