<table role=grid class="overflow-auto" >
  <thead>
    <tr>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Geburtsdatum</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <tr>
        <th scope="row"><%= link_to person.name, edit_household_path(person.household)  %></th>
        <td><%= link_to person.first_name, edit_person_path(person) %></td>
        <td><%= person.dob.strftime("%d.%m.%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>