<div class="grid">
  <div></div>
  <div>
    <h1>Alle Teilnehmenden</h1>
    <%= render partial: 'shared/search' %>
  </div>
  <div></div>
</div>

<%= render partial: 'list', locals: { people: @people }  %>