<table role=grid >
  <thead>
    <tr>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Stadt</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <tr>
        <th scope="row"><%= person.name %></th>
        <td><%= person.first_name %> <% if person.underage_at_camp?(camp) %><abbr data-tooltip="Alter während des Camps"><%= " (#{person.age_at_camp(camp)})" %></abbr><% end %></td>
        <td><%= person.household.town %></td>
      </tr>
    <% end %>
  </tbody>
</table>