<h1><%= @camp.place.name %> <%= @camp.year %></h1>
<div class="grid">
  <div>
    <%= button_to 'Neue Anmeldung', new_camp_registration_path(@camp), method: :get %>
  </div>
  <div>
    <h3>Angemeldete Teilnehmende</h3>
    <%= render partial: 'list', locals: { people: @people, camp: @camp } %>
  </div>
</div>

