<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning">
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>