<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <% if flash[:error] %>
    <%= render 'shared/components/alert', message: flash[:error], type: 'error', dismissible: true %>
  <% end %>

  <% if flash[:success] %>
    <%= render 'shared/components/alert', message: flash[:success], type: 'success', dismissible: true %>
  <% end %>

  <% if alert %>
    <%= render 'shared/components/alert', message: alert, type: 'warning', dismissible: true %>
  <% end %>

  <% if notice %>
    <%= render 'shared/components/alert', message: notice, type: 'info', dismissible: true %>
  <% end %>
</div>
