<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Lager", camps_path %></li>
    <li><%= link_to "People", people_path %></li>
  </ul>
  <ul>
    <li><strong>Ökumenische Ferienwoche CRM</strong></li>
  </ul>
  <ul>
   <li> <%= user_signed_in? ? (link_to "Abmelden", destroy_user_session_path, data: {turbo_method: :delete} ) : (link_to "Anmelden", new_user_session_path) %> </li>
  </ul>
</nav>