<nav>
  <ul>
    <li><strong>Ökumenische Ferienwoche</strong></li>
  </ul>
  <ul>
   <li>
      <details role="list">
        <summary aria-haspopup="listbox">Teilnehmende</summary>
        <ul role="listbox">
          <li> <%= link_to 'Alle anzeigen', people_path %></li>
        </ul>
      </details>
    </li>
    <% c = Camp.next %>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">Lager</summary>
        <ul role="listbox">
          <li> <%= link_to "#{c.place.name} #{c.year}", camp_path(c) %></li>
        </ul>
      </details>
    </li>
    <li> <%= link_to "Alle Haushalte", households_path, role: "button", class: "outline secondary" %>
  </ul>
</nav>