<nav>
  <ul>
    <li><strong>Ökumenische Ferienwoche</strong></li>
  </ul>
  <ul>
   <li>
      <details role="list">
        <summary aria-haspopup="listbox">Teilnehmende</summary>
        <ul role="listbox">
          <li> <%= link_to 'Alle anzeigen', people_path %></li>
          <li> <%= link_to 'Person hinzufügen', new_person_path %></li>
        </ul>
      </details>
    </li>
   
  </ul>
</nav>